{% extends 'ebi/main.html' %}
{% load static %}
{% block content %}
        <h1 style="font-family: cursive; font-size: 40px;">Ebi-inu</h1>
        <div>
            <h2 style="font-family: fantasy; font-size: 30px;">Foodstuff Ordering website</h2>
            <h4 style="font-size: 20px;">This is a website built to order foodstuff in Nigeria. It hopes to help folks in lessening the everday stress that comes from the haggling in the markeplace for foodstuff</h4>
            <h4 style="font-size: 20px;">Framework used: Django</h4>
            <h4 style="font-size: 20px;">Languages used: Python, Javascript, HTML</h4>
            <h4 style="font-size: 20px;">Storage: SQLite</h4>
            <h4 style="font-size: 20px;">Creators: Belove Olusola</h4>
            <h4 style="font-size: 20px;">Email: beloveolusola@gmail.com</h4>
            <h4 style="font-size: 20px;">Github: [BeloveO](https://github.com/BeloveO)</h4>
        </div>
{% endblock content %}
