{% extends 'ebi/main.html' %}
{% load static %}
{% block content %}
        <h1 style="font-family: cursive; font-size: 40px;">Ebi-inu</h1>
        <div>
            <img src="{% static 'images/sitelg.jpg' %}" width="1000" height="500" alt="Site logo">
            <h2 style="font-family: fantasy; font-size: 30px;">Foodstuff Ordering website</h2>
        </div>
        <div>
            <img src="{% static 'images/landing.jpg' %}" width="1000" height="500" alt="landing logo">
            <h4 style="font-family: fantasy; font-size: 15px;">Landing page</h4>
            <h4 style="font-size: 20px;">This is the home page of the site with the login features, cart balance and links to the cart, about page and back to home</h4>
            <br>
            <img src="{% static 'images/cart.jpg' %}" width="1000" height="500" alt="cart logo">
            <h4 style="font-family: fantasy; font-size: 15px;">Cart page</h4>
            <h4 style="font-size: 20px;">Additions, subtractions and removal of goods is done here. When satisfied, user can proceed to checkout and pay</h4>
            <br>
            <img src="{% static 'images/checkout.jpg' %}" width="1000" height="500" alt="checkout logo">
            <h4 style="font-family: fantasy; font-size: 15px;">Checkout page</h4>
            <h4 style="font-size: 20px;">Fully functional payout system with Paypal, Credit or Debit card</h4>
        </div>
        <div>
            <h4 style="font-size: 15px;">This is a website built to order foodstuff in Nigeria. It hopes to help folks in lessening the everday stress that comes from the haggling in the markeplace for foodstuff</h4>
            <h4 style="font-size: 15px;">This project was created to help people shop for foodstuff without the torturous process involved in the Nigerian market. The Nigerian market can be considered a warzone where one has to haggle intensely over the price of every product before one can find a mostly fair price for their goods. While this can add to the normal Nigerian fun once in a while; it is no doubt extremely stressful to have to do this constantly especially with the recent increase in workload of all stations across the country which has led to less time to dedicate to oneself, the state of the economy which leaves one without even enough energy to talk to others and even the general lack of interest in leaving the comfort of our homes. This project aims to help in securing the best prices for foodstuff that can be gotten from the comfort of our homes.

                I grew up in Ondo state, a state filled mostly with civil employees though both parents were traders. From young, i had been exposed to the way the market operates and i’d seen the stress associated with the sales of goods. While i enjoyed joining my mother in haggling when she goes to buy foodstuff for our house; i could most times see the stress in her eyes as she had to debate over the price of everything and i could also see in most sellers’ eyes the stress of having to keep this charade up everyday. Though it was not clear to me why they looked that way when i was younger; i gradually got to know about the stress laced beneath every smile while they debated. This made me decide to act as a go-between, a sort of bridge between the consumer and the trader, haggle over the price with the trader, set the most affordable price for the consumer and eliminate the haggling fear for ones who are scared of the market.</h4>
            <h4 style="font-size: 20px;">Framework used: Django</h4>
            <h4 style="font-size: 20px;">Languages used: Python, Javascript, HTML</h4>
            <h4 style="font-size: 20px;">Storage: SQLite</h4>
            <h4 style="font-size: 20px;">Creators: Belove Olusola</h4>
            <h4 style="font-size: 20px;">LinkedIn: <a href="www.linkedin.com/in/belove-olusola">Belove Olusola</a></h4>
            <h4 style="font-size: 20px;">Github: <a href="(https://github.com/BeloveO)">BeloveO</a></h4>
            <h4 style="font-size: 20px;">Twitter: <a href="https://twitter.com/belove_olusola">Belove Olusola</a></h4>
            <h4 style="font-size: 20px;">Repository: <a href="https://github.com/BeloveO/Ebiinu"></a></h4>
        </div>
{% endblock content %}
