{% extends 'ebi/main.html' %}
{% load static %}
{% block content %}
    <div>
        <img src="{% static 'images/sitelg.jpg' %}" width="1000" height="500" alt="Site logo">
        <h6 style="font-family: cursive; font-size: 40px;">
            Shop for your foodstuff from the comfort of your home
        </h6>
    </div>
    <br>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: block; float: right"><strong>₦{{product.price}}</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}
